body {
font-family: Georgia, 'Times New Roman', Times, serif;
}

#pres {
text-align: center;
color:rgb(16, 219, 219);
font-size: 2em;
background-image:url(img/fondcouleur.jpg);
position: relative;
border:rgb(102, 209, 15) solid 0.2em;
border-radius: 0.5em;
width: 50%;
margin-left: auto;
margin-right: auto;
}

#pres:hover {
    text-align: center;
    font-size: 2em;
    background-image:url(img/fondcouleur.jpg);
    position: relative;
    border:rgb(15, 99, 209) solid 0.2em;
    border-radius: 0.5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    }

ul.navbar {
    list-style-type: none;
}

.titre {
    text-align: center;
    font-size: 2em;   
}

.etudesup {
    font-size: 1em;
    color:darkblue;
}


a:link {
    color:black }
a:visited {
    color:black }

 .titre1 {
    text-align: center;
    font-size: 3em;
    color:rgb(203, 8, 241);
}

.etudetexte {
    text-align: center;
}
    

.lien {
    text-align: center;
    font-size: 1.5em;
    background-image:url(img/fondlienprincip.jpg);
    position: relative;
    border:rgb(49, 44, 45) solid 0.2em;
    border-radius: 2em;
    width: 35%;
    margin-left: auto;
    margin-right: auto;  
    line-height: 2em;
}

.lien:hover {
    text-align: center;
    font-size: 1.5em;
    background-image:url(img/fondlienprincip.jpg);
    position: relative;
    border:rgb(99, 100, 41) solid 0.2em;
    border-radius: 2em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;  
}

h1 {
color:blueviolet
}

h2 {
color:rgb(54, 24, 224)
}

h3 {
color:rgb(21, 163, 230)
}

h4 {
color:rgb(15, 228, 103)
}

h5 {
color:rgb(208, 221, 23)
}

h6 {
color:rgb(224, 161, 24)
}

.fondecran1 {
background-image:url(img/fondprincip.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-position:0% 0%;
background-size: cover;
}

.fondecran3 {
    background-image:url(img/fond2.jpg);
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:0% 0%;
    background-size: cover;
    }

.texte {
color: yellow;
text-align: center;
}

.fondecranlycee {
    background-image:url(img/lycée.jfif);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:0% 0%;
    background-size:cover;
    }

.fondecranloisir {
    background-image:url(img/fondmontagne.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:0% 0%;
    background-size:cover;
    }

.fondecranpf {
    background-image:url(img/fondecranespace.webp);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:0% 0%;
    background-size:cover;
    }